Kicad_using_USB/~LEDDimmer.kicad_sch.lck
Kicad_using_USB/LEDDimmer-backups/
Kicad_using_USB/fp-info-cache
Kicad_using_PSU/~LEDDimmer.kicad_sch.lck
Kicad_using_PSU/LEDDimmer-backups/
Kicad_using_PSU/fp-info-cache

